* {
  margin: 0;
  padding: 0;
}

.grid {
  height: auto;
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
  grid-template-rows: .5fr .25fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
	"head head head head head head head head head"
	". . . . . . . . ."
	". photo photo photo photo side side side ."
	".photo photo photo photo side side side ."
	". photo photo photo photo side side side ."
	"reviews reviews reviews reviews reviews side side side ."
	"reviews reviews reviews reviews reviews side side side ."
	"reviews reviews reviews reviews reviews side side side ."
	"reviews reviews reviews reviews reviews side side side ."
	"more more more more more more more more more"
	"more more more more more more more more more"
	"more more more more more more more more more"
	"more more more more more more more more more"
	"more more more more more more more more more"
	"footer footer footer footer footer footer footer footer footer"
	"footer footer footer footer footer footer footer footer footer"
	"footer footer footer footer footer footer footer footer footer"
	"footer footer footer footer footer footer footer footer footer";
}


#proxy-header {
	grid-area: head;
	
}

#proxy-header > img{
	width: 100%;
	height: 100%;
}

#cis-app {
	grid-area: photo;

}

#fake-Johnny {
	grid-area: reviews;

}
#fake-Johnny > img{
	max-width: 100%;
	height: 100%;
}

#tjn-root {
	grid-area: side;
  
}

#jjc-app{
	grid-area: more;

  
}
#proxy-footer {
	grid-area: footer;


}
#proxy-footer > img{
	width: 100%;
	height: 100%;
}